Helps(x, F(x))
Hurts(x, F(x))
-Villain(x) | Hurts(x)
-Angels(x) | Helps(x)
Human(x)
Angel(x)
Villain(x)
Harmful(x)
-Human(x) | Intelligent(x)
-Angels(x) | Intelligent(x)
-Villains(x) | Intelligent(x)
--- negated query ---
Hurts(x, F(x))
Angel(x, F(A))